.app-link {
  transition: 0.2s all;
  background-color: transparent;
  cursor: pointer;
  color: inherit;

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: inherit;
  }

  &:active {
    color: var(--secondary);
  }
}
