.toolbar {
  position: fixed;
  z-index: var(--zIndexToolbar);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-left: var(--unitSpacing);
  padding-right: var(--unitSpacing);
  background: transparent;
  transition: background var(--transition) ease-in-out;

  &_hovered {
    background: var(--blackA4);
  }

  &_layout {
    flex-direction: row;
  }
}
