.header-navigation {
  display: flex;
  flex-direction: column;
  background: var(--primary);

  &_content {
    flex: 1;
    display: flex;

    @media (width <= 768px) {
      flex-direction: column;
    }
  }
}
