.modal {
  position: fixed;
  z-index: var(--zIndexModal);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: hidden;
  outline: 0;
  transition: background var(--transition) ease-out;

  &_open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--blackA4);
  }

  &_dialog {
    display: block;
    position: relative;
    background: var(--white);
  }
}
