.app-menu {
  height: 100%;
  display: flex;
  align-items: center;

  &_menu {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--blackA1);
    transition: background var(--transition) ease-in-out;

    &:hover {
      background: var(--blackA1);
    }

    &_selected {
      background: currentColor;
    }
  }
}
