.footer {
  flex: 0 0 auto;
  padding: var(--unitSpacing);
  background: var(--primary);

  &_about {
    margin-top: calc(var(--unitSpacing) * 2);
  }

  &_action {
    margin-top: var(--unitSpacing);
    margin-bottom: var(--unitSpacing);
  }
}
