.toolbar-action {
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  margin-left: var(--unitSpacing);

  &_left-panel {
    display: inline-flex;
    margin-right: auto;
    align-items: center;
  }

  &_right-panel {
    display: inline-flex;
    margin-left: auto;
  }
}
