:root {
  --sm: 540px;
  --md: 720px;
  --lg: 960px;
  --xl: 1140px;
  --toolbarHeight: 100px;
  --unitSpacing: 8px;
  --transition: 0.2s;
  --zIndexToolbar: 1100;
  --zIndexDropdown: 1000;
  --zIndexModal: 1300;
}
